img{
  width: 100%;
  height: auto;
}


html{
  background-color: rgb(255, 255, 255);
}

h1{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #809b85;
}

h2{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #809b85;
}

h3, p, a, ul, li{
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}


ul, li{
  list-style-type: none;
}


.header-link {
  border-radius: 5px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 2px;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
}

.header-link:hover {
  background-color: #b7e4bf;
}

.header-link:focus {
  outline: 3px solid rgba(245, 245, 238, 0);
}
.header-container {
  padding-top: 25px;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: min-content 1fr min-content;
}
.header {
  grid-area: header;
  background-color: #99c58e;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
width: 180px;
}
.header-main {
  grid-area: main;
}



.g-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.g-main {
  display: flex;
  flex-grow: 1;
}

.g-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.25rem;
  flex-grow: 1;
  list-style-type: none;
  padding-left: 70px;
  padding-right: 70px;
}

.g-grid a {
  display: flex;
}

.g-grid a:hover {
  filter: blur(1px);
}

@media (min-width: 1000px) {
  .g-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

/* END SINGLE-GALLERY */


/* OVERLAY */
.o-wrapper {
  position: relative;
  max-width: 350px;
  display: flex;
}

.o-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color:#b1c9a85d;
  color:rgb(0, 0, 0);
}


.o-content:hover {
  opacity: 1;
}

/* END OVERLAY */

footer{
  position: fixed;
  background-color: #99c58e;
  left: 0;
  bottom: 0;
  width: 100%;
  align-items: center;


}
.portfolio-sub-margin {
  margin-right: 20px;
  margin-left: 20px;
}
.portfolio-section-background {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #99c58e;
}

.portfolio-section-description {
  width: 50%;
}

.portfolio-section-image {
  margin-right: 20px;
  margin-left: 20px;
  width: 50%;
}
.text-box {
  inline-size: 400px;
  margin-right: 20px;
  margin-left: 20ox;
  color: #000000;
  font-size: large;

}

form { max-width:420px; margin:50px auto; }

.contact-input {
  color:rgb(0, 0, 0);
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #99c58e;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #7da174; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  width: 100%;
  background:#99c58e;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:rgb(255, 255, 255);
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#7da174; }